h1 {
    color: blueviolet;
    font-size: 106px;
}

.alerta {
    color: red;
    font-weight: bold;
}

body {
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#cabecalho-principal {
    background-color: #333;
    color: white;
}

footer a {
    color: cyan;
    /* Apenas os links dentro do footer serão ciano */
}