* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Base Flexbox (Azul) */
.flex-container {
    border: 3px solid #3498db;
    background-color: #fff;
    padding: 10px;
    margin-bottom: 15px;
    /* Altura fixa para visualizar alinhamentos verticais */
    height: 150px;
}

.item {
    background-color: #3498db;
    color: white;
    border: 1px solid white;
    padding: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Base Grid (Verde) */
.grid-container {
    border: 3px solid #2ecc71;
    background-color: #fff;
    padding: 10px;
    margin-bottom: 15px;
    display: grid;
    /* Grid já ativo para todos os exemplos de grid */
    gap: 10px;
}

.item-grid {
    background-color: #2ecc71;
    color: white;
    border: 1px solid white;
    padding: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

#flex-basico {
    display: flex;
    /* Ativa o Flexbox */
}

/* 1.2. Direção (Column) */
#flex-direction {
    display: flex;
    flex-direction: column;
    /* Muda eixo principal para
vertical */

    /* CORREÇÃO: Remove a altura fixa de 150px para
que o container
cresça e abrace os itens empilhados, sem cortar
a borda. */
    height: auto;
    background-color: blueviolet;
}

/* 1.3. Justify Content (Eixo Principal - Horizontal aqui) */
#flex-justify {
    display: flex;
    justify-content: space-between;
    /* Espalha os itens */
}

/* 1.4. Align Items (Eixo Cruzado - Vertical aqui) */
#flex-align {
    display: flex;
    align-items: center;
    /* Centraliza na altura do container */
}

/* 1.5. Centralização Total (O Santo Graal) */
#flex-align {
    display: flex;
    justify-content: center;
    /* Centro Horizontal */
    align-items: center;
    /* Centro Vertical */
}



/* 1.6. Wrap (Quebra de Linha) */
#flex-wrap {
    display: flex;
    flex-wrap: wrap;
    /* Permite quebrar linha */
    height: auto;
    /* Altura automática para caber as
linhas */
}



/* Ajuste nos itens do wrap para
caberem e testar a quebra */
#flex-wrap .item {
    width: 150px;
    margin: 5px;
}

