nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: aquamarine;
}

nav li {
    display: inline-block;
}
nav ul li a:hover{
    background-color: blueviolet;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
}
nav li a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 1rem;
    font-weight: bold;
}

nav li a:hover{
    background-color: aqua
}

nav ul ul{
    display: none;
    position: absolute;
    background-color: rgb(233, 191, 136);
}

nav ul li:hover > ul{
    display: block;
}

nav ul ul li{
    display: block;
    width: 200px;
}


.caixa {
    width: 100px;
    padding: 10px;
    border: 2px dotted black;
}

.caixa2 {
    box-sizing: border-box;
    width: 70px;
    height: 40px;
    padding: 6px;
    border: 3px solid black;
    margin-bottom: 20px;
    background-color: rgb(156, 156, 165);
}

.container {
    width: 80%;
    margin: 0 auto;
    border: 1px dashed black;
    padding: 38px;
}